# Tabla de correlación diaria y mensual

In [1]:
'''Instalar Sklearn para usar mean_squared_error '''
# %pip install sklearn

'Instalar Sklearn para usar mean_squared_error '

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_percentage_error, r2_score,mean_absolute_error
from math import sqrt
from datetime import datetime
import os

In [3]:
from warnings import simplefilter
simplefilter(action="ignore", category=RuntimeWarning)
simplefilter(action="ignore", category=FutureWarning)

In [4]:
'''delimitar las fechas de inicio y fin para la correlacion diaria'''
fecha_ini = '1981-01-02'
fecha_fin = '2020-12-31'

'''nombre de las columnas'''
cols = ['fecha','100','101','102','105','106','107','108','111','112','113','114','115',
        '116','117','118','119','120','121','200','201','202','203','204','205']

'''tipos de correlacion'''
correl = ['spearman', 'pearson', 'kendall']


'''leer los archivos en un carpeta dada SI son archivos CSV'''
def leer_dir(path, cond = 'diario'):
    with os.scandir(path) as ficheros:
        ficheros = [fichero.name for fichero in ficheros if fichero.is_file() 
                                                            and fichero.name.endswith('.csv') 
                                                            and fichero.name.count(cond)>0]
    ficheros.sort()
    return ficheros

'''leer csv y retorna un DF con un rango de fechas entre <fecha_ini -  fecha_fin>'''
def leer_csv(archivo, ruta = '../datos/1.0.variables/'):
    p = ruta + archivo
    data = pd.read_csv(p, usecols = cols)[cols]
    data['fecha'] = pd.to_datetime(data['fecha'])
    data = data[(data['fecha']>=fecha_ini) & (data['fecha']<=fecha_fin)]
    data.reset_index(drop=True, inplace=True)
    return data

def creardf():
    data = pd.DataFrame(columns = cols)
    data = data.rename(columns = {'fecha':'info'})
    return data

def cadena(var, med1, med2, cor):
    v = var.split('.')
    m1 = med1.split('_')
    m2 = med2.split('_')
    return v[0]+'_'+m1[0]+'-'+m2[0]+'_'+cor

def correlacion(d0, d1, cor, columna):
    if cor=="kedall":
        data = d0.iloc[:,columna].corr(d1.iloc[:,columna], method = cor)
    else:
        data = d0.iloc[:,columna].corr(d1.iloc[:,columna], method = cor, min_periods=12)
    return data

## Correlacion diaria

In [5]:
carpeta = '../datos/1.0.variables/'
lista_d = leer_dir(carpeta, 'diario')

In [6]:
''' DF vacio para llenar datos,
    lista vacia para verificar si una variable se repite'''
datad = creardf()
realizado =[]
fila = 0


for archivo in lista_d:
    
    cad = archivo.split('_')
    
    '''condicion para verifica si la variable se repite'''
    if cad[2] in realizado:
        continue
    else:
        realizado.append(cad[2])
        '''buscar la variable en los nombres de los archivos para realizar la correlacion'''
        cad_match = [s for s in lista_d if cad[2] in s]
        if len(cad_match) == 3:
            d0 = leer_csv(cad_match[0])
            d1 = leer_csv(cad_match[1])
            d2 = leer_csv(cad_match[2])
            
            datad.loc[fila] = d0.isnull().sum()
            datad.iloc[fila,0] = 'nulos_'+cad_match[0]
            datad.loc[fila+1] = d1.isnull().sum()
            datad.iloc[fila+1,0] = 'nulos_'+cad_match[1]
            datad.loc[fila+2] = d2.isnull().sum()
            datad.iloc[fila+2,0] = 'nulos_'+cad_match[2]
            
            fila = fila + 3
            
            for columna in range(d0.shape[1]):
                if columna == 0:
                    datad.loc[fila,'info'] = cadena(cad[2], cad_match[0], cad_match[1], correl[0])
                    datad.loc[fila+1,'info'] = cadena(cad[2], cad_match[0], cad_match[2], correl[0])
                    datad.loc[fila+2,'info'] = cadena(cad[2], cad_match[2], cad_match[1], correl[0])
                    datad.loc[fila+3,'info'] = cadena(cad[2], cad_match[0], cad_match[1], correl[1])
                    datad.loc[fila+4,'info'] = cadena(cad[2], cad_match[0], cad_match[2], correl[1])
                    datad.loc[fila+5,'info'] = cadena(cad[2], cad_match[2], cad_match[1], correl[1])
                    datad.loc[fila+6,'info'] = cadena(cad[2], cad_match[0], cad_match[1], correl[2])
                    datad.loc[fila+7,'info'] = cadena(cad[2], cad_match[0], cad_match[2], correl[2])
                    datad.loc[fila+8,'info'] = cadena(cad[2], cad_match[2], cad_match[1], correl[2])
                else:
                    datad.iloc[fila, columna] = correlacion(d0, d1, correl[0], columna)
                    datad.iloc[fila+1, columna] = correlacion(d0, d2, correl[0], columna)
                    datad.iloc[fila+2, columna] = correlacion(d2, d1, correl[0], columna)
                    datad.iloc[fila+3, columna] = correlacion(d0, d1, correl[1], columna)
                    datad.iloc[fila+4, columna] = correlacion(d0, d2, correl[1], columna)
                    datad.iloc[fila+5, columna] = correlacion(d2, d1, correl[1], columna)
                    datad.iloc[fila+6, columna] = correlacion(d0, d1, correl[2], columna)
                    datad.iloc[fila+7, columna] = correlacion(d0, d2, correl[2], columna)
                    datad.iloc[fila+8, columna] = correlacion(d2, d1, correl[2], columna)
            fila = fila+9
        elif len(cad_match) == 2:
            d0 = leer_csv(cad_match[0])
            d1 = leer_csv(cad_match[1])
            
                        
            '''calcular los nullos en cada columna y en cada archivo'''
            datad.loc[fila] = d0.isnull().sum()
            datad.iloc[fila,0] = 'nulos_'+cad_match[0]
            datad.loc[fila+1] = d1.isnull().sum()
            datad.iloc[fila+1,0] = 'nulos_'+cad_match[1]
            
            fila = fila + 2
            
            
            for columna in range(d0.shape[1]):
                if columna == 0:
                    datad.loc[fila,'info'] = cadena(cad[2], cad_match[0], cad_match[1], correl[0])
                    datad.loc[fila+1,'info'] = cadena(cad[2], cad_match[0], cad_match[1], correl[1])
                    datad.loc[fila+2,'info'] = cadena(cad[2], cad_match[0], cad_match[1], correl[2])
                else:
                    datad.iloc[fila,columna] = correlacion(d0, d1, correl[0], columna)
                    datad.iloc[fila+1,columna] = correlacion(d0, d1, correl[1], columna)
                    datad.iloc[fila+2,columna] = correlacion(d0, d1, correl[2], columna)
            fila = fila + 3
datad.to_csv('../datos/2.3.Resumen/resumen_correlacion_diaria.csv')

## Correlación mensual

In [7]:
carpeta = '../datos/1.0.variables/'
lista_m = leer_dir(carpeta, 'mensual')

In [13]:
''' DF vacio para llenar datos,
    lista vacia para verificar si una variable se repite'''
datam = creardf()
realizado =[]
fila = 0


for archivo in lista_m:
    
    cad = archivo.split('_')
    print(cad[2])
    '''condicion para verifica si la variable se repite'''
    if cad[2] in realizado:
        continue
    else:
        realizado.append(cad[2])
        '''buscar la variable en los nombres de los archivos para realizar la correlacion'''
        cad_match = [s for s in lista_m if cad[2] in s]
        print(cad_match)
        if len(cad_match) == 3:
            d0 = leer_csv(cad_match[0])
            d1 = leer_csv(cad_match[1])
            d2 = leer_csv(cad_match[2])
            
            
            '''calcular los nullos en cada columna y en cada archivo'''
            datam.loc[fila] = d0.isnull().sum()
            datam.iloc[fila,0] = 'nulos_'+cad_match[0]
            datam.loc[fila+1] = d1.isnull().sum()
            datam.iloc[fila+1,0] = 'nulos_'+cad_match[1]
            datam.loc[fila+2] = d2.isnull().sum()
            datam.iloc[fila+2,0] = 'nulos_'+cad_match[2]
            
            fila = fila + 3
            
            
            for columna in range(d0.shape[1]):
                if columna == 0:
                    datam.loc[fila,'info'] = cadena(cad[2], cad_match[0], cad_match[1], correl[0])
                    datam.loc[fila+1,'info'] = cadena(cad[2], cad_match[0], cad_match[2], correl[0])
                    datam.loc[fila+2,'info'] = cadena(cad[2], cad_match[2], cad_match[1], correl[0])
                    datam.loc[fila+3,'info'] = cadena(cad[2], cad_match[0], cad_match[1], correl[1])
                    datam.loc[fila+4,'info'] = cadena(cad[2], cad_match[0], cad_match[2], correl[1])
                    datam.loc[fila+5,'info'] = cadena(cad[2], cad_match[2], cad_match[1], correl[1])
                    datam.loc[fila+6,'info'] = cadena(cad[2], cad_match[0], cad_match[1], correl[2])
                    datam.loc[fila+7,'info'] = cadena(cad[2], cad_match[0], cad_match[2], correl[2])
                    datam.loc[fila+8,'info'] = cadena(cad[2], cad_match[2], cad_match[1], correl[2])
                else:
                    datam.iloc[fila, columna] = correlacion(d0, d1, correl[0], columna)
                    datam.iloc[fila+1, columna] = correlacion(d0, d2, correl[0], columna)
                    datam.iloc[fila+2, columna] = correlacion(d2, d1, correl[0], columna)
                    datam.iloc[fila+3, columna] = correlacion(d0, d1, correl[1], columna)
                    datam.iloc[fila+4, columna] = correlacion(d0, d2, correl[1], columna)
                    datam.iloc[fila+5, columna] = correlacion(d2, d1, correl[1], columna)
                    datam.iloc[fila+6, columna] = correlacion(d0, d1, correl[2], columna)
                    datam.iloc[fila+7, columna] = correlacion(d0, d2, correl[2], columna)
                    datam.iloc[fila+8, columna] = correlacion(d2, d1, correl[2], columna)
            fila = fila+9
        elif len(cad_match) == 2:
            d0 = leer_csv(cad_match[0])
            d1 = leer_csv(cad_match[1])
            
            
            '''calcular los nullos en cada columna y en cada archivo'''
            datam.loc[fila] = d0.isnull().sum()
            datam.iloc[fila,0] = 'nulos_'+cad_match[0]
            datam.loc[fila+1] = d1.isnull().sum()
            datam.iloc[fila+1,0] = 'nulos_'+cad_match[1]
            
            fila = fila + 2
            
            
            for columna in range(d0.shape[1]):
                if columna == 0:
                    datam.loc[fila,'info'] = cadena(cad[2], cad_match[0], cad_match[1], correl[0])
                    datam.loc[fila+1,'info'] = cadena(cad[2], cad_match[0], cad_match[1], correl[1])
                    datam.loc[fila+2,'info'] = cadena(cad[2], cad_match[0], cad_match[1], correl[2])
                else:
                    datam.iloc[fila,columna] = correlacion(d0, d1, correl[0], columna)
                    datam.iloc[fila+1,columna] = correlacion(d0, d1, correl[1], columna)
                    datam.iloc[fila+2,columna] = correlacion(d0, d1, correl[2], columna)
            fila = fila + 3
datam.to_csv('../datos/2.3.Resumen/resumen_correlacion_mensual.csv')

pp.csv
['chirps_mensual_pp.csv', 'nasa_mensual_pp.csv', 'obs_mensual_pp.csv']
hmed.csv
['nasa_mensual_hmed.csv', 'obs_mensual_hmed.csv']
pp.csv
tmax.csv
['nasa_mensual_tmax.csv', 'obs_mensual_tmax.csv']
tmed.csv
['nasa_mensual_tmed.csv', 'obs_mensual_tmed.csv']
tmin.csv
['nasa_mensual_tmin.csv', 'obs_mensual_tmin.csv']
oni.csv
['noaa_mensual_oni.csv']
hmed.csv
pp.csv
tmax.csv
tmed.csv
tmin.csv

In [9]:
datam

,info,100,101,102,105,106,107,108,111,112,...,118,119,120,121,200,201,202,203,204,205
0,nulos_chirps_mensual_pp.csv,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,nulos_nasa_mensual_pp.csv,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,nulos_obs_mensual_pp.csv,0.000000,154.000000,402.000000,188.000000,317.000000,413.000000,170.000000,338.000000,126.000000,...,359.000000,200.000000,236.000000,390.000000,27.000000,2.000000,15.000000,2.000000,176.000000,26.000000
3,pp_chirps-nasa_spearman,0.919411,0.904852,0.900617,0.906874,0.891426,0.905022,0.825536,0.839398,0.895416,...,0.841415,0.881909,0.878368,0.879062,0.891042,0.897776,0.877304,0.899417,0.875278,0.891485
4,pp_chirps-obs_spearman,0.911229,0.746139,0.872861,0.868672,0.805443,0.651895,0.767873,0.751391,0.814323,...,0.816857,0.756051,0.840893,0.590864,0.848153,0.835782,0.822635,0.874328,0.805161,0.802270
5,pp_obs-nasa_spearman,0.959863,0.754064,0.900057,0.869717,0.767769,0.673653,0.753099,0.688209,0.782753,...,0.839939,0.753797,0.878177,0.622690,0.833591,0.868625,0.781984,0.858410,0.802368,0.859485
6,pp_chirps-nasa_pearson,0.651042,0.842365,0.672158,0.636459,0.872044,0.804247,0.805279,0.817076,0.862473,...,0.837302,0.822011,0.743346,0.868742,0.832081,0.877348,0.818756,0.873832,0.843938,0.824711
7,pp_chirps-obs_pearson,0.908940,0.783326,0.920683,0.854710,0.811628,0.779192,0.746802,0.669612,0.772379,...,0.832124,0.833204,0.846556,0.406263,0.882002,0.852197,0.665396,0.884005,0.803714,0.822043
8,pp_obs-nasa_pearson,0.683810,0.695182,0.869713,0.531546,0.707859,0.721742,0.676743,0.601111,0.714158,...,0.756614,0.663909,0.803670,0.524386,0.797050,0.805155,0.543763,0.826164,0.666439,0.768788
9,pp_chirps-nasa_kendall,0.768516,0.744671,0.737378,0.745539,0.733153,0.744431,0.642547,0.660970,0.738086,...,0.666403,0.707316,0.703875,0.715569,0.723922,0.731307,0.702173,0.743662,0.695818,0.727387
10,pp_chirps-obs_kendall,0.752462,0.591322,0.706206,0.685341,0.646444,0.525569,0.603003,0.588382,0.653656,...,0.672393,0.601584,0.668530,0.441102,0.679433,0.653169,0.651573,0.704905,0.647724,0.610646
11,pp_obs-nasa_kendall,0.860500,0.593250,0.736104,0.704290,0.605577,0.534410,0.583524,0.530390,0.627152,...,0.685782,0.591970,0.699106,0.464183,0.658021,0.683641,0.607773,0.685494,0.630097,0.676996
12,nulos_nasa_mensual_hmed.csv,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,nulos_obs_mensual_hmed.csv,171.000000,423.000000,402.000000,479.000000,479.000000,454.000000,479.000000,479.000000,479.000000,...,458.000000,479.000000,437.000000,399.000000,173.000000,45.000000,479.000000,58.000000,319.000000,479.000000
14,hmed_nasa-obs_spearman,0.808655,0.462953,0.930596,NaN,NaN,0.923077,NaN,NaN,NaN,...,0.576623,NaN,0.895632,0.552368,0.490281,0.795645,NaN,0.529762,0.445133,NaN
15,hmed_nasa-obs_pearson,0.791637,0.397041,0.931289,NaN,NaN,0.923638,NaN,NaN,NaN,...,0.614846,NaN,0.903723,0.494922,0.450560,0.787499,NaN,0.527536,0.415677,NaN
16,hmed_nasa-obs_kendall,0.602456,0.314286,0.768284,NaN,NaN,0.786667,NaN,NaN,NaN,...,0.466667,NaN,0.718931,0.380380,0.350817,0.599179,NaN,0.367898,0.317370,NaN
17,nulos_nasa_mensual_tmax.csv,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,nulos_obs_mensual_tmax.csv,1.000000,205.000000,402.000000,189.000000,321.000000,413.000000,213.000000,351.000000,130.000000,...,403.000000,479.000000,236.000000,392.000000,167.000000,4.000000,479.000000,3.000000,181.000000,479.000000
19,tmax_nasa-obs_spearman,0.883248,0.821170,0.909366,0.255369,0.759912,0.877842,0.286176,0.374931,0.605340,...,0.853253,NaN,0.890915,0.395979,0.692546,0.579776,NaN,0.816400,0.399029,NaN
20,tmax_nasa-obs_pearson,0.886651,0.803796,0.915963,0.246505,0.775255,0.800163,0.270593,0.361376,0.544985,...,0.845846,NaN,0.887307,0.400732,0.706187,0.610276,NaN,0.819840,0.401746,NaN
21,tmax_nasa-obs_kendall,0.703380,0.628722,0.756239,0.186607,0.583639,0.725874,0.194481,0.293625,0.431775,...,0.666433,NaN,0.712913,0.289801,0.514638,0.408946,NaN,0.631869,0.272199,NaN
22,nulos_nasa_mensual_tmed.csv,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,nulos_obs_mensual_tmed.csv,351.000000,423.000000,402.000000,479.000000,479.000000,467.000000,479.000000,479.000000,477.000000,...,458.000000,479.000000,460.000000,411.000000,167.000000,479.000000,479.000000,3.000000,181.000000,479.000000
24,tmed_nasa-obs_spearman,0.809490,0.887746,0.926545,NaN,NaN,0.944056,NaN,NaN,NaN,...,0.624675,NaN,0.833333,0.392854,0.852854,NaN,NaN,0.945371,0.785146,NaN
25,tmed_nasa-obs_pearson,0.839055,0.923221,0.948073,NaN,NaN,0.989813,NaN,NaN,NaN,...,0.596645,NaN,0.872189,0.412194,0.863072,NaN,NaN,0.960358,0.793492,NaN
26,tmed_nasa-obs_kendall,0.606053,0.730757,0.779754,NaN,NaN,0.848485,NaN,NaN,NaN,...,0.466667,NaN,0.660819,0.316575,0.658353,NaN,NaN,0.798393,0.583581,NaN
27,nulos_nasa_mensual_tmin.csv,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,nulos_obs_mensual_tmin.csv,1.000000,210.000000,402.000000,199.000000,321.000000,413.000000,223.000000,351.000000,166.000000,...,405.000000,479.000000,236.000000,391.000000,167.000000,4.000000,479.000000,3.000000,181.000000,479.000000
29,tmin_nasa-obs_spearman,0.951811,0.946293,0.965508,0.743084,0.917321,0.956789,0.697669,0.892745,0.808324,...,0.930603,NaN,0.891487,0.821285,0.879805,0.922923,NaN,0.933337,0.884119,NaN
30,tmin_nasa-obs_pearson,0.970101,0.956650,0.981753,0.792463,0.909523,0.976792,0.662769,0.872360,0.823637,...,0.949747,NaN,0.901189,0.828064,0.881338,0.946248,NaN,0.949102,0.871982,NaN
31,tmin_nasa-obs_kendall,0.810078,0.793396,0.848941,0.543364,0.767860,0.833100,0.496936,0.701944,0.601491,...,0.768234,NaN,0.705314,0.613194,0.688339,0.751898,NaN,0.766135,0.695621,NaN